<div class="container-fluid pt-3 pb-4">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="text-center mb-4">
        <header class="page-header d-flex flex-wrap align-items-start justify-content-between mb-4">
          <div>
            <h4 class="fw-semibold mb-2"><i class="bi bi-plus-circle me-2"></i>Novo Grupo</h4>
            <hr class="mt-0">
          </div>
        </header>
        <p class="text-muted dark:text-light">Crie um novo grupo e defina suas propriedades.</p>
      </div>
      <form method="post" class="ajax-form card p-4 shadow-sm" data-response-type="json">
        {% csrf_token %}
        {{ form.as_p }}
        <div class="d-flex justify-content-between mt-4">
          <button type="submit" class="btn btn-success w-50 me-2">Salvar</button>
          <a href="{% url 'accounts:lista_grupos' %}" class="btn btn-secondary w-50 ajax-link">Cancelar</a>
        </div>
      </form>
    </div>
  </div>
</div>