# Arquivos de conexão (sensíveis)
config/connection.py

# Ambientes virtuais
venv/
config/.env


# Arquivos Python cache
__pycache__/
*.py[cod]
*.pyo

# Arquivos temporários e logs
*.log
*.sqlite3
*.tmp
*.backup.sql

# VS Code
.vscode/

# Banco de dados e backups
*.bak
*.sql

# Sistema operacional
.DS_Store
Thumbs.db
db.sqlite3
venv/

# accounts/utils
acessos.py

Chave Gemini CLI
AIzaSyCbYPTWzo4ea7xc1YKOPkH3aotgDNfhZhc

meu_gemini.py
xmls_temp
plano_depuracao_detalhes_fiscais.md
plano_melhorias_fiscais_avancadas.md
plano_refatoracao_detalhes_fiscais.md
plano_refatoracao_estoque_unidades.md
plano_templates_fiscais.md
melhorias_fiscal.md

# Planos e Documentação Gemini
plano_formalizacao_fiscal.md
.gemini/GEMINI.md
.gemini