{% load static %}
<nav class="navbar navbar-expand-lg navbar-superior">
    <div class="container-fluid">
        <a href="{% url 'painel:home' %}" class="navbar-brand ajax-link">
            <img src="{% static 'icons/logo_sidbar.png' %}" alt="OneTech" style="max-height: 40px;">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              {% for item in dynamic_menu_items %}
                {% if item.children %}
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle ajax-link" href="#" id="navbarDropdown-{{ forloop.counter }}" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      {{ item.icon|safe }} {{ item.name }}
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown-{{ forloop.counter }}">
                      {% for child in item.children %}
                        {% if child.children %}
                          <!-- Dropdown de segundo nível, se necessário -->
                          <li>
                            <a class="dropdown-item" href="#">{{ child.icon|safe }} {{ child.name }} &raquo;</a>
                            <ul class="submenu dropdown-menu">
                              {% for grandchild in child.children %}
                                <li><a class="dropdown-item ajax-link" href="{{ grandchild.url }}">{{ grandchild.name }}</a></li>
                              {% endfor %}
                            </ul>
                          </li>
                        {% else %}
                          <li><a class="dropdown-item ajax-link" href="{{ child.url }}">{{ child.icon|safe }} {{ child.name }}</a></li>
                        {% endif %}
                      {% endfor %}
                    </ul>
                  </li>
                {% else %}
                  <li class="nav-item">
                    <a class="nav-link ajax-link" href="{{ item.url }}">{{ item.icon|safe }} {{ item.name }}</a>
                  </li>
                {% endif %}
              {% endfor %}
            </ul>
            <ul class="navbar-nav ms-auto">
                <!-- Perfil -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarPerfil" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        👤 Perfil
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarPerfil">
                        <li><a class="dropdown-item ajax-link" href="{% url 'accounts:edit_profile' %}">Editar Perfil</a></li>
                        
                        <li><a class="dropdown-item" href="#" id="btn-alternar-tema-superior">Alternar Tema</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li>
                            <form id="logout-form-superior" method="post" action="{% url 'accounts:logout' %}" style="display: none;">
                                <input type="hidden" name="csrfmiddlewaretoken" value="">
                            </form>
                            <a class="dropdown-item" id="logout-link-superior" href="{% url 'accounts:logout' %}">Sair</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
