{% extends 'base.html' %}

{% block content %}
  <div class="container">
    <h2>Digite sua Nova Senha</h2>
    {% if validlink %}
      <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">Salvar Nova Senha</button>
      </form>
    {% else %}
      <p>O link para redefinição de senha é inválido, possivelmente porque já foi usado. Por favor, solicite uma nova redefinição de senha.</p>
    {% endif %}
  </div>
{% endblock %}
