{% extends 'base.html' %}

{% block content %}
  <div class="container">
    <h2>Escolha como Redefinir sua Senha</h2>
    <p>Encontramos uma conta associada ao e-mail fornecido. Como você prefere receber o link para redefinir sua senha?</p>
    
    <form method="post">
      {% csrf_token %}
      {{ form.as_p }} {# Renderiza o campo de e-mail oculto para reenviar #}

      <button type="submit" name="send_email" class="btn btn-primary">Enviar por E-mail</button>
      
      {% if whatsapp_number %}
        <button type="submit" name="send_whatsapp" class="btn btn-success">Enviar por WhatsApp para {{ whatsapp_number }}</button>
      {% endif %}
    </form>
  </div>
{% endblock %}
