<div id="identificador-tela" data-tela="form_statustanque">
    <div class="container-fluid mt-4">
        <h2>{% if object %}Editar Status de Tanque{% else %}Novo Status de Tanque{% endif %}</h2>
        <form method="post" class="ajax-form" data-redirect-url="{% url 'producao:lista_statustanque' %}">
            {% csrf_token %}
            {{ form.as_p }}
            <button type-="submit" class="btn btn-success">Salvar</button>
            <a href="{% url 'producao:lista_statustanque' %}" class="btn btn-secondary ajax-link">Cancelar</a>
        </form>
    </div>
</div>
