<div id="identificador-tela" data-tela="form_unidade">
    <div class="container-fluid pt-3 pb-4">
        <div class="card shadow-sm">
            <div class="card-header bg-light">
                <h2 class="h4 mb-0 text-primary">{% if object %}Editar{% else %}Cadastrar{% endif %} Unidade</h2>
            </div>
            <div class="card-body">
                <form method="post" action="" class="ajax-form" data-response-type="json">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="btn btn-success">Salvar</button>
                    <a href="{% url 'producao:lista_unidades' %}" class="btn btn-secondary ajax-link">Cancelar</a>
                </form>
            </div>
        </div>
    </div>
</div>