{% if perms.empresas.change_empresa %}
{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Editar Empresa</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <div class="container">
        <h2>Editar Empresa: {{ empresa.nome_empresa }}</h2>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Salvar Alterações</button>
        </form>
        <a href="{% url 'lista_empresas' %}">Voltar para a Lista de Empresas</a>
    </div>
</body>
</html>
{% else %}
<div class="alert alert-danger text-center mt-5">
  Você não tem permissão para acessar esta funcionalidade.
</div>
{% endif %}